.answers-item{
    width: 90%;
    height: 40px;
    margin: 5px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.answers-item:last-child{
    border-bottom: none;
}
.answers-item_label, .answers-item_label--selected-true, .answers-item_label--selected-false{
    width: calc(100% - 30px);
    height: auto;
    margin: auto;
    position: relative;
}
.answers-item_input{
    width: 30px;
    margin: auto;
    border: 1px solid red;
    z-index: 0;
    position: relative;
    visibility: hidden;  
}

.answers-item_label::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: beige;
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
    z-index: 1;
    
}
.answers-item_label--selected-true::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(80,202,193,0.8);
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
    z-index: 1;
    
}
.answers-item_label--selected-false::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgba(266,11,29,0.8);
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
    z-index: 1;
    
}

.answers-item_label:hover::before{
    background-color: rgba(19, 196, 209, 0.6);
}

.selected-true{
    background-color: rgb(3, 110, 17);
}
.selected-false{
    border: 2px solid rgb(110, 3, 8);
}

