.answers-conteiner{
    width: 80%;
    height: 40%;
    background-color: white;
    margin: auto;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    border-radius: 10px;
    
}