.description{
    width: 45%;
    min-width: 300px;
    min-height: 80%;
    margin-left: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 139, 139);
    position: relative;

}
.default_text{
  font-size: 1rem;
  
}
