.button_next-level{
    width: 80%;
    height: 50px;
    margin: 10px auto;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;   
}
.button--active{
    background-color: rgba(19, 196, 209, 0.8);

}
.button--default{
    background-color: rgb(255, 255, 255);
}