.button_next-level{
    width: 80%;
    height: 50px;
    margin: 10px auto;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;   
}
.button--active{
    background-color: rgb(141, 139, 139);

}
.button--default{
    background-color: rgb(255, 255, 255);
}