.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.logo{
    width: 50%;
    height: auto;
    text-align:left;
    margin: auto;
    background-color: black;
}
.score{
    width: 50%;
    height: auto;
    margin: auto;
    text-align: right;
}