.questions-conteiner{
    width: 80%;
    height: 30%;
    margin: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.questions_image{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-image: url("../../images/images.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.questions_audio-conteiner{
    width: 70%;
    height: 150px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}
.audio_title{
    width: 90%;
    height: 20%;
    margin: auto;
    font-size: 1.4 rem;
    text-align: center;
    font-weight: lighter;
    color: rgba(255, 255, 255,.5);
    border-bottom: 1px solid rgba(255, 255, 255,.5);
}
.audio_sound{
    width: 90%;
    margin: auto;
}