.nav{
    width: 80%;
    height: 5%;
    display: flex;
    margin:   0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: space-around;
    background-color: rgba(80, 202, 163, 0.3);
    filter: drop-shadow(10px 10px 4px rgba(23, 107, 131, 0.3));
    border-radius: 10px;
}
.nav_menu{
    width: 100%;
    height: 50%;
    margin: auto 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.menu_item{
    max-width: 200px;
    height: auto;
    margin: auto;
    font-size: 1rem;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(0,0,0);
    cursor: pointer; 
}

.selected-category {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 3px solid  rgba(19, 196, 209, 0.6);
}


@media screen and (max-width: 1200px){
    .nav{
        height: 60px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255,1);
    }
    .menu_item{
        width: 120px;
    }
     
}


@media screen and (max-width: 800px){
    .nav{
        height: 50px;

    }
    .menu_item{
        width: 80px;
        font-size: 0.7rem;
    }
        
}
@media screen and (max-width:480px){
    .nav{
        width: 95%;
        position: relative;
        overflow: hidden;
       
    }
    .nav_menu{
        width: 100%;
        height: 100%;
        padding: 0;
        position: relative;
    }
    .menu_item{
        width: 100%;
        height: 100%;
        padding-top: 0.7rem;
        font-size: 1.5rem;
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        background-color: rgb(255, 255, 255);
        z-index: 0;
    }
    
    .selected-category {
        z-index: 5;
    }
    
   
}

